<template>
  <div class="todo-list">
    <div class="todo-list__inner">
      <div class="todo-list__top">
        <h1 class="todo-list__title">Todo list</h1>
        <button
          v-show="completedTodos > 0"
          class="todo-list__remove-button"
          @click="removeCompleted"
        >Remove computed tasks({{ completedTodos }})</button>
      </div>
      <div class="todo-list__bottom">
        <ul class="todo-list__tasks">
          <li
            class="todo-list__item"
            v-for="todo in todos"
            :key="todo.id"
          >
            <div
              class="todo-item"
              :style="{'backgroundColor': todo.color}"
              v-click-outside="cancelEdit.bind(null, todo)"
            >
              <div class="todo-item__inner">
                <label class="todo-item__complete">
                  <input
                    class="todo-item__complete-input"
                    type="checkbox"
                    v-model="todo.completed">
                  <span class="todo-item__complete-fake"></span>
                </label>
                <div
                  class="todo-item__info"
                  @click="editTodo(todo)"
                >
                  <p
                    v-if="!todo.editMode"
                    class="todo-item__name">{{ todo.name }}</p>
                  <div
                    v-else
                    class="todo-item__wrapper"
                  >
                    <input
                      class="todo-item__input"
                      type="text"
                      v-model="todo.name"
                      v-focus="todo === editedTodo"
                    >
                    <ul class="colors">
                      <li
                        class="colors__item"
                        v-for="(color, index) of availableColor"
                        :key="index"
                      >
                        <button
                          :style="{'backgroundColor': color}"
                          :class="[
                            'colors__btn',
                            {'colors__btn--selected': color === todo.color}
                          ]"
                          @click="setColor(todo, color)"
                        ></button>
                      </li>
                    </ul>
                    <button
                      class="button"
                      @click="updateTodo(todo)"
                    >Save</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="todo-new">
          <div class="todo-new__inner">
            <input
              type="text"
              class="todo-new__input"
              placeholder="Add new item"
              v-model="newTodo"
            >
            <ul class="colors">
              <li
                class="colors__item"
                v-for="(color, index) of availableColor"
                :key="index"
              >
                <button
                  :style="{'backgroundColor': color}"
                  :class="[
                    'colors__btn',
                    {'colors__btn--selected': color === selectedColor}
                  ]"
                  @click="selectColor(color)"
                ></button>
              </li>
            </ul>
            <button
              class="button"
              @click="addTodo"
            >Add</button>
          </div>
          <div
            v-show="newTodoError"
            class="todo-new__error-message"
          >
            Задачу нельзя создать с пустым именем
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./TodoList.js"></script>
<style src="./TodoList.scss" lang="scss"></style>
