<template>
  <div id="app">
    <TodoList></TodoList>
  </div>
</template>

<script>
import TodoList from './components/TodoList/TodoList.vue';

export default {
  name: 'app',
  components: {
    TodoList,
  },
};
</script>


<style>
  body {
    font-family: 'Roboto', sans-serif;
  }
</style>
