.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 12px;
	font-size: 14px;
	border: none;
	background: none;
	border-radius: 0;
	appearance: none;
	cursor: pointer;
	background-color: #26a69a;
	border-radius: 5px;
	color: #fff;
	transition: background-color 0.2s;
	outline: none;

	&:hover,
	&:focus {
		background-color: #3bbeb2;
	}

	&:active {
		background-color: #27958b;
	}
}
