.colors {
	margin-left: auto;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	
	&__item {
		margin-right: 5px;
	}
	
	&__btn {
		display: block;
		padding: 0;
		width: 16px;
		height: 16px;
		background: none;
		border: none;
		border-radius: 2px;
		appearance: none;
		outline: none;

		&--selected {
			border: 1px solid $accentColorGray;
		}
	}
}
