.todo-new {
	&__inner {
		display: flex;
		align-items: center;
		padding: 13px 5px;
		border: 1px solid #dcdcdc;
		border-radius: 5px;
	}

	&__input {
		margin-right: 5px;
		padding: 3px 10px;
		flex-grow: 1;
		font-size: 14px;
		border: none;
		border-radius: 0;
		color: $accentColorGray;
		outline: none;

		&::placeholder {
			color: rgba($accentColorGray, 0.5);	
		}
	}

	&__error-message {
		margin: 5px 0 0;
		font-size: 10px;
		color: #b04632;
	}
}
