.todo-list {
	max-width: 500px;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	&__title {
		margin: 0;
		font-size: 18px;
		color: $accentColorGray;
		font-weight: 400;
	}

	&__remove-button {
		padding: 0;
		font-size: 14px;
		color: rgba($accentColorGray, 0.8);
		border: none;
		background: none;
		border-radius: 0;
		appearance: none;
		cursor: pointer;
	}

	&__tasks {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		margin-bottom: 5px;
	}
}
