.todo-item {
	border-radius: 4px;

	&__inner {
		display: flex;
		min-height: 54px;
	}

	&__complete {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 54px;
		border-right: 1px solid #ffffff;

		&-input {
			display: none;

			&:checked {
				~.todo-item__complete-fake {
					&::before {
						opacity: 1;
					}
				}
			}
		}

		&-fake {
			position: relative;
			display: block;
			width: 13px;
			height: 13px;
			border-radius: 3px;
			background-color: #f3f3f3;

			&::before {
				position: absolute;
				top: calc(50% - 4.5px);
				left: calc(50% - 5px);
				content: '';
				display: block;
				width: 10px;
				height: 9px;
				opacity: 0;
				background-image: url('../../assets/img/complete-icon.svg');
				background-repeat: no-repeat;
				transition: 0.2s opacity;
			}
		}
	}

	&__info {
		display: flex;
		align-items: center;
		flex-grow: 1;
		padding: 9px;
		overflow: hidden;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 5px;
		background-color: #fff;
		border-radius: 4px;
	}

	&__name {
		padding: 0 3px;
		margin: 0;
		font-size: 14px;
		color: #fff;
		pointer-events: none;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 100%;
		overflow: hidden;
	}

	&__input {
		margin-right: 5px;
		padding: 0 3px;
		flex-grow: 1;
		border: none;
		border-radius: 0;
		outline: none;
	}
}
